<div class="container-fluid">

  <div class="main-wrapper mx-auto">
  <div class="text-center signup pt-5">
    <h1 class="font-weight-bold">Restore Password</h1>
  </div>
  <br>
  <form >

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
  </div>


<br>
<div class="text-center pt-4">
  <button type="submit" class="button text-center"><span class="btn-text">Send</span></button>

</div>

</form>
</div>
</div>
